---
import type { ImageDetails } from './types';

interface Props extends ImageDetails {}

const { src, alt, location, species } = Astro.props;
---

<div 
  class="group relative overflow-hidden rounded-lg border border-elegant-gold/20 cursor-pointer gallery-image"
  data-image={JSON.stringify(Astro.props)}
>
  <img
    src={src}
    alt={alt}
    class="w-full h-[400px] object-cover transition-transform duration-300 group-hover:scale-105"
  />
  <div class="absolute inset-0 bg-gradient-to-t from-elegant-black/90 to-transparent opacity-0 group-hover:opacity-100 transition-opacity flex flex-col justify-end p-6">
    <p class="text-elegant-gold font-display text-xl">{species}</p>
    <p class="text-elegant-cream/80">{location}</p>
  </div>
</div>